*{
 margin: 0;
}
.container{
 display: flex;
 justify-content: space-between;
}
.itemtwo{
display: flex;
gap: 20px;
align-items: center;
}
.itemthree{
 display: flex;
 
}
button{
 display: flex;
 width: 250px;
 align-items: center;
 justify-content: center;
 background-color: blue;
 color: white;
}
.header{
 min-width: 1200px;
 margin: auto;
 background-color: #F1F6FA;
 width: 90%;
 margin: auto;
 padding: 10px;
}
.center{
 
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 50vh;
 font-size: 30px;
 gap: 20px;
}
.end{
display: flex;
align-items: center;
justify-content: center;
}
.box{
 min-width: 1200px;
 margin: auto;
 display: flex;
 justify-content: space-evenly;
 padding: 10px;
 gap: 25px;
}
.box1{
text-align: center;
}
